@import "@/assets/scss/utils/variables";

.tag {
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 10px;
    min-width: 120px;
    max-width: 200px;
    padding: 2px 2px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 0 5px;
}

@media only screen and (max-width: $breakpoint-tablet) {
    .tag {
        font-size: 10px;
        font-weight: 400;
        width: fit-content;
        min-width: 80px;
        border-radius: 5px;
    }
}
