.card {
    border-radius: 10px;
    height: 380px;
    width: 30%;
    margin: 20px 0;
    background-color: $primary-color;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-size: cover;
    background-position: left;
    mix-blend-mode: multiply;
    text-decoration: none !important;

    span {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: $secondary-color;
        text-shadow: 2px 1px black;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .card {
        border-radius: 10px;
        height: 250px;
        width: 100%;
        margin: 10px 0;
    }
}
