.collapse {
    margin-top: 30px;
    width: 100%;
    color: #ffffff;

    &-head {
        background-color: #ff6060;
        padding: 0 20px;
        border-radius: 5px;
        width: auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    &-title {
        font-weight: 500;
        font-size: 24px;
    }

    &-content {
        background-color: #f7f7f7;
        color: #ff6060;
        padding: 20px;
        font-size: 24px;
        font-weight: 300;
        text-align: justify;
        line-height: 35px;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        &-content {
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
        }
    }
}
