@import "@/assets/scss/utils/variables";

.card {
    border-radius: 10px;
    height: 380px;
    width: 30%;
    margin: 20px 0;
    background-color: $primary-color;
    text-decoration: none !important;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    span {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: $secondary-color;
        text-shadow: 2px 1px black;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .card {
        background-color: transparent;
        height: 250px;
        width: 100%;
        margin: 10px 0;
    }
}
